
<div class="homeBlock">
  <div class="one-third column alpha">
    <div class="spacer">
      <%- about %>
    </div>
  </div>
  <div class="one-third column">
    <div class="spacer">
      <%- quickstart %>
    </div>
  </div>
  <div class="one-third column omega">
    <div class="spacer">
      <%- guide %>
    </div>
  </div>
</div>
<div class="row alpha omega">
  <div class="welcome sixteen columns alpha omega">
    <div class="spacer">
      <%- welcome %>
    </div>
  </div>
</div>
<br class="clear"/>
<div class="homeBlock">
  <div class="one-third column alpha">
    <div class="spacer">
      <%- featurea %>
    </div>
  </div>
  <div class="one-third column">
    <div class="spacer">
    <%- featureb %>
    </div>
  </div>
  <div class="one-third column omega">
    <div class="spacer">
    <%- featurec %>
    </div>
  </div>
</div>