/* -------------------------------------------------- */
		
ul.gallery-images { margin: 0 0 10px -10px; }
ul.gallery-images li { background: #fff; display: inline; float: left; margin: 0 0 10px 5px; padding: 5px 5px 5px; text-align: center; font-family: sans-serif; text-decoration: none; color: #333; font-size: 14px; -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25); -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25); text-align: center;}
ul.gallery-images img { display: block;  margin-bottom: 10px; }

ul.gallery-images li div {
	max-width: 220px;
	max-height: 70px;
}

ul.gallery-images li div { display: none;}

ul.gallery-images li:hover { -webkit-transform: scale(1.25); -moz-transform: scale(1.25); -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5); -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5); position: relative; z-index: 5; }	
	
ul.gallery-images li:hover div { display: block;}
ul.gallery-images li:hover div input[type=text] { width: 95%;}

ul.gallery-sort-images { margin: 0 0 18px -30px; float: left; }
ul.gallery-sort-images li { background: #fff; display: inline; float: left; margin: 0 0 10px 10px; padding: 10px 10px 10px; text-align: center; font-family: sans-serif; text-decoration: none; color: #333; font-size: 14px; -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25); -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25); text-align: center;}
ul.gallery-sort-images img { display: block; height: 60px; margin-bottom: 0px; }
ul.gallery-sort-images li div { display: none;}
div.gallery-sort-actions { 
	padding: 20px;
	background: #dfdfdf;
	margin-bottom: 20px;}

ul .gallery-image-highlight { width: 60px;	height: 60px; float: left; background: #2def2d !important; }
	
.editable input {
	width: 100%;
	font-size: 0.8em;
}

.gallery-image-full {
	width: 100%;
	text-align: center;
}

.gallery-image {
	max-width: 100%;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25); -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25); 
}

.gallery-description {
	padding: 20px;
	background: #dfdfdf;
	margin-bottom: 20px;		
}

.gallery-image-header h2 {
	float: left;	
	display: inline;
}
.gallery-image-actions {
	float: right;
	width: 30%;
}


.gallery-image-description {
	padding: 20px;
	background: #dfdfdf;
	margin-bottom: 20px;		
}

ul.gallery-image-actions {
	
}
ul.gallery-image-actions li {
float: right;
  list-style: none;
  display: inline;
  margin: 0px;
  font-weight: bold; 
  font-size: 1.1em;
  text-shadow: 0 1px rgba(155, 155, 155, .5);
}
ul.gallery-image-actions li a {
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
ul.gallery-image-actions li a:hover {
  background:#2a2c2a url("/images/stripe_darker.png") repeat;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;  
  color: #0186ba; 
}


/*-------------------------
	Dropbox Element
--------------------------*/



#dropbox{
	background:url('/images/background_tile_3.jpg');	
	border-radius:3px;
	position: relative;
	margin:20px auto 20px;
	min-height: 100px;
	overflow: hidden;
	padding-bottom: 40px;
    width: 100%;	
	box-shadow:0 0 4px rgba(0,0,0,0.3) inset,0 -3px 2px rgba(0,0,0,0.1);
}


#dropbox .message{
	font-size: 11px;
    text-align: center;
    padding-top:40px;
    display: block;
}

#dropbox .message i{
	color:#ccc;
	font-size:10px;
}

#dropbox:before{
	border-radius:3px 3px 0 0;
}



/*-------------------------
	Image Previews
--------------------------*/


#dropbox .preview {
	width:200px;
	height: 50px;
	float:left;
	margin: 5px 0 0 10px;
	position: relative;
	text-align: center;
}

#dropbox .imageName {
	font-size: 0.8em;
	color: #efefef;
}

#dropbox .done .imageName {
	color: green !important;
}

/*-------------------------
	Progress Bars
--------------------------*/



#dropbox .progressHolder{
	position: absolute;
	background-color:#252f38;
	height:12px;
	width:100%;
	left:0;
	bottom: 0;
	
	box-shadow:0 0 2px #000;
}

#dropbox .progress{
	background-color:#2586d0;
	position: absolute;
	height:100%;
	left:0;
	width:0;
	
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}

#dropbox .preview.done .progress{
	width:100% !important;
}

