<!-- Default Content -->
<div class="row alpha omega">
  <div class="ten columns alpha">
    <a href="/">        
        <h1 class="four columns"><%- config.get('server:name') %></h1>
      </a>
  </div>
  <div class="six columns omega">    
    <div class="six columns omega right">      
      <!-- Theme / Module driven content -->      
      <%- userLogin %>
    </div>        
    <div class="six columns alpha omega">
      <ul class="main-nav">
        <li><a href="/gallery">Photo Galleries</a></li>       
    </div>
  </div>
</div>
<div class="row alpha omega">
  <% if(user.isAdmin) { %>
      <div id="adminToolbar">
        <%- getMenu('adminToolbar') %>
      </div>
    <% } %>
</div>
