<!-- Default Content -->
<div class="row alpha omega">
  <div class="ten columns alpha">
    <a href="/">        
        <h1><%- config.get('server:name') %></h1>
      </a>
  </div>
  <div class="six columns omega right" style="text-align: right">          
      <!-- Theme / Module driven content -->      
      <%- userLogin %>    
  </div>
  <br class="clear">
</div>
<div class="row alpha omega">
  <% if(user.isAdmin) { %>
      <div id="adminToolbar">
        <%- getMenu('adminToolbar') %>
      </div>
    <% } %>
</div>
